@import '../../assets/scss/variables.scss';

.container {
    animation: fadeIn ease 2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 15% 0 12% 0;
    -webkit-animation: fadeIn ease 2s;
}

.caption {
    text-align: center;
    width: 100%;
}

.title {
    margin: 0 0 10rem 0;
}

.ourIntention {
    align-items: center;
    display: flex;
    margin-left: auto;

    p {
        margin-left: auto;
        text-align: justify;
        width: 70%;
    }
}

.ourStory {
    align-items: flex-start;
    display: flex;
    padding-top: 4rem;

    > div {
        margin-top: 4rem;

        p {
            text-align: justify;
        }
    }

    img {
        border-radius: .4rem;
        height: auto;
        margin-left: 3rem;
        width: 50%;
    }
}

.complementary {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    p {
        margin-left: auto;
        text-align: justify;
        width: 70%;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 768px) {

    .title {
        margin-bottom: 1.5rem;
    }

    .ourIntention {
        width: 100%;

        > div {
            display: none;
        }

        p {
            width: 100%;
        }
    }

    .ourStory {
        width: 100%;
        flex-wrap: wrap;

        img {
            width: 100%;
            margin: 1rem 0;
        }
    }

    .complementary {

        p {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 8% 0 8%;
        padding-top: 28%;
    }

    .ourStory {

        > div {
            margin-top: 0;
        }
    }
}
