@import '../../assets/scss/variables.scss';

.container {
    align-items: center;
    animation: fadeIn ease 2s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 20% 0 4% 0;
    -webkit-animation: fadeIn ease 2s;

    > p {
        text-align: center;
        line-height: 2.5rem;
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 3rem;
        width: 70%;
    }
}

.title {
    margin: 0 0 4rem 0;
}