NEXT_PUBLIC_API_URL=[DEPRECATED]
NEXT_PUBLIC_URL=[URL WHERE IS HOSTED] // 
PRAYERS_EMAIL=[EMAIL TO USE TO SEND THE PRAYERS]
PRAYERS_CONTACT_EMAIL=[EMAIL TO SEND CONTACT EMAILING]
MAILCHIMP_API_KEY=[API KEY OF MAIL CHIMP]
MAILCHIMP_LIST_ID=[LIST ID OF MAILCHIMP]
MAILCHIMP_SERVER_PREFIX=[PREFIX OF MAILCHIMP, example: us17]
SENDGRID_API_KEY=[API KEY OF SENDGRID]
SENDGRID_API=[URL TO https://api.sendgrid.com/v3/mail/send
PARAM_MINUTES_BEFORE_GO_HOME=[Number of minutes used, example:10]
