@import '../../assets/scss/variables.scss';

.checkboxContainer {
  position: relative;
  cursor: pointer;

  .inputCheckbox {
    position: absolute;
    opacity: 0;
  }

  .checkbox {
    // TODO change by svg
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    cursor: pointer;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    display: inline-block;

    &[aria-checked=true] {
      // TODO change by svg
      background: black;
      &::after {
        content:quote;
  
      }
    }
  }
  
}
