@import '../../assets/scss/variables.scss';

.container {
    animation: fadeIn ease 2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 15% 0 12% 0;
    -webkit-animation: fadeIn ease 2s;

    p {
        font-size: 1.15rem;
        line-height: 1.75rem;

        /*span {
            font-weight: 600;
        }*/
    }
    
    h5 {
        font-family: $text-font;
        font-size: 1.15rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.policies {
    margin-top: 8rem;
    width: 69%;

    a {
        color: white;
    }

    ul {
        font-family: $text-font;
        list-style: initial;

        li {
            font-size: 1.15rem;
            line-height: 1.75rem;
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 768px) {

    .policies {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .container {
        margin: 0 10% 0 10%;
        padding-top: 28%;
    }

    .policies {
        margin-top: 1.5rem;
    }
}
