
.container {
    animation: fadeIn ease 2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 15% 0 12% 0;
    -webkit-animation: fadeIn ease 2s;

    p {
        width: 60%;
        text-align: center;
        margin-bottom: 4rem;
        margin-top: 6rem;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 8% 0 8%;
        padding-top: 28%;

        > p {
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .container {

        p {
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
        }
    }
}