@import '../assets/scss/variables.scss';

.content {
  //height: 100%;
}

.image {
  // background-size: cover;
  // background-repeat: no-repeat;
  position: fixed;
  height: 105%;
  min-width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -2;
  opacity: 0;
  &.visible { opacity: 1;}

  &.default {
    background-color: #102544;
  }

  &.ourStory {
    background-color: #280314;
  }

  &.lightACandle {
    background-color: #10124F;
  }

  &.receiveAblessing {
    background-color: #112A8F;
  }

  &.whoWeAre {
    background-color: #3C254B;
  }

  &.contact {
    background-color: #3A487D;
  }

  &.subscribe {
    background-color: #233DA1;
  }

  &.privacyPolicy {
    background-color: #372650;
  }
}

.secondaryNav {
  color: $main-color;
  display: flex;
  position: absolute;
  right: 1rem;
  top: 3rem;

  > a {
    color: $main-color;
    cursor: pointer;
    margin: 0 1rem;
  }

  ul {
    border-top: 1px solid white;
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: .75rem;
    width: 72px;

    li {

      list-style: none;
      margin: 0 0 0 12px;
      padding: 0;

      &:first-child {
        margin-left: auto;
      }

      a {
        background-repeat: no-repeat;
        display: inline-block;
        height: 16px;
        text-indent: -9999px;
        width: 16px;

        &.facebook {
          background-image: url(/icon-facebook.svg);
        }

        &.twitter {
          background-image: url(/icon-twitter.svg);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .secondaryNav {
    display: none;
  }
}
