
.content {
  background: url(/bg.jpg);
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 40px;
  min-height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
