
.content {
  background: url(/bg.jpg);
  padding-left: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 40px;
  min-height: 800px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}
