@import '../assets/scss/variables.scss';

.openCloseMenu {
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0px;
  top: 0px;

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin-top: 48px;
    margin-left: 28px;
    margin-bottom: 20px;

    &:focus {
      outline: none;
    }
  }
}

.open {
  background: $main-color;
  display: flex;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  overflow-y: scroll;

  .openCloseMenu {
    margin-right: 5%;
    position: initial;
  }

  button {
    margin-left: 32px;
  }
}

.navContainer {
  align-items: center;
  display: flex;
  width: 85%;

  .navbar {
    list-style: none;
    margin: 0;
    padding: 0;
  
    li {
      margin-bottom: 1rem;
  
      a {
        color: white;
        font-size: 3rem;
      }
    }
  }

  > div {
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {

  .open {
    display: initial;

    .openCloseMenu {
      display: initial;
    }
  }

  .openCloseMenu {
    button {
      margin-top: 28px;
      margin-left: 24px;
    }
  }

  .navContainer {
    align-items: inherit;
    background: $main-color;
    padding-top: 2rem;
    display: inherit;
    flex-wrap: inherit;
    margin: 0;
    width: 85%;
    padding-left: 5%;
    padding-right: 5%;

    .navbar {
      margin-bottom: 3rem;

      li {

        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {

  .open {
    width: 105%;

    .openCloseMenu {

      button {
        margin-left: 1rem;
      }
    }
  }

  .navContainer {
    padding-top: 1rem;
  }
}