@import '../assets/scss/variables.scss';

.subscribeComponent {
  text-align: center;
  width: 50%;

  > p {
    font-weight: 300;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;

    p {
      display: flex;
      width: 100%;

      input[type="text"] {
        margin: 0 0 0 .8rem;
        width: 50%;
      }

      input[type="email"] {
        margin: 0 0 0 .8rem;
        width: 50%;
      }

      button {
        font-family: $text-font;
        height: inherit;
        margin-left: .8rem;
        width: 50%;
      }
    } 
  }
}

@media screen and (max-width: 1024px) {

  .subscribeComponent {

    form {

      p {
        input[type="email"] {
          width: 46%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .subscribeComponent {
    margin-left: inherit;
    width: 100%;

    form {
      flex-wrap: wrap;

      p {
        margin: 0;
        flex-wrap: wrap;

        input[type="text"], input[type="email"], button {
          margin-bottom: 1rem;
          margin-left: 0;
          width: 100%;
        }
      } 
    }
  }
}

@media screen and (max-width: 375px) {

  .subscribeComponent {

    h1 {
      font-size: 2rem;
    }
  }
}