.subscribeComponent {
  text-align: center;
  width: 50%;

  span {
    letter-spacing: 6px;
  }

  h1 {
    font-size: 3rem;
    margin: 1rem 0;
  }

  > p {
    font-weight: 300;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;

    p {
      display: flex;
      width: 100%;

      input[type="text"] {
        margin: 0 0 0 1rem;
        width: 50%;
      }

      input[type="email"] {
        margin: 0 0 0 1rem;
        width: 52%;
      }

      button {
        margin-left: auto;
        width: 33%;
      }
    } 
  }
}