@import '../assets/scss/variables.scss';

.subscribeComponent {
  text-align: center;

  > p {
    font-weight: 300;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 75%;

    input[type="text"], input[type="email"], > div {
      width: 38%;
      margin: 0 2% 1rem 2%;
    }

    > div {
        margin-bottom: 0;
    }

    button {
        margin-top: 2rem;
        width: 100%;
    }

    label {
        margin-bottom: 1rem;
    }

  }
}