input[type="text"], input[type="email"] {
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    margin-bottom: 1rem;
    padding: 20px 24px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white
  }