input[type="text"], input[type="email"] {
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    font-family: $text-font;
    margin-bottom: 1rem;
    padding: 20px 24px;

    &:focus {
        outline: none;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white
}

input {

    &.secondary {
        background-color: rgba($color: #000000, $alpha: 0.5);
        border: 0;
    }
}

select {

    &:focus {
        outline: none;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}