
@import 'variables';
@import 'typography';
@import 'inputs';
@import 'buttons';
@import 'selects';

html {
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: blue;
}

h1 {
  font-size: 80px;
}

body {
  color: white;
  font-family: $main-font;
  font-weight: 300;
  margin: 0;
  height: 100%;
  padding: 0;
  position: relative;
  background: #02092B;
}

#__next {
  height: 100%;
}

p {
  font-family: $text-font;
  line-height: 28px;
}

button {
  cursor: pointer;
}

.caption {
  font-weight: 400;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.divider {
  width: 40%;
  height: 1px;
  background-color: rgba($color: white, $alpha: 0.5);
  margin: 6rem 0;
}