// Typography
$main-font: 'Poppins', sans-serif;
$captions-font: 'tenor-sans', Helvetica, Arial, sans-serif;
$text-font: 'open-sans-light', Helvetica, Arial, sans-serif;

// Colors
$main-color: #c2a25f;