@import '../assets/scss/variables.scss';

.container {
    animation: fadeIn ease 2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 20% 0 12% 0;
    -webkit-animation: fadeIn ease 2s;
}

.title {
    margin: 0 0 1rem 0;
}

.paragraph {
    text-align: center;
    font-weight: 300;
    margin-bottom: 2rem;
    width: 50%;
}

.subscribeForm {
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
    margin-left: 4rem;
    width: 50%;

    input[type="email"] {
        margin-right: 1rem;
        min-width: 232px;
    }

    img {
        margin-right: 1rem;
    }

    input[type="submit"] {
        background-color: transparent;
        border: 0;
        color: white;
        font-family: $main-font;
        font-size: 1rem;
        font-weight: 400;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 768px) {

    .paragraph, .subscribeForm {
        width: 80%;
    }

    .subscribeForm {
        margin-left: 0;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;

        input[type="email"] {
            width: 100%;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 768px) {

    .container {
        padding-top: 25%;
    }

    .paragraph, .subscribeForm {
        width: 100%;
    }
}