@import '../assets/scss/variables.scss';

.container {
    animation: fadeIn ease 2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 20% 0 12% 0;
    -webkit-animation: fadeIn ease 2s;

    p {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
}

.caption {
    text-align: center;
    width: 100%;
}

.title {
    margin: 0 0 10rem 0;
}

.ourIntention {
    align-items: center;
    display: flex;
    margin-bottom: 4rem;
    margin-left: auto;

    .scroll {

        > div {
            width: 2px;
            height: 50px;
            background: white;
            margin: 0 auto 2rem auto;
        }

        span {
            font-size: .75rem;
        }
    }

    p {
        margin-left: auto;
        text-align: justify;
        width: 70%;
    }
}

.ourStory {
    align-items: flex-start;
    display: flex;

    > div {
        margin-top: 4rem;

        p {
            text-align: justify;
        }
    }

    img {
        border-radius: .4rem;
        height: auto;
        margin-left: 3rem;
        width: 50%;
    }
}

.complementary {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    p {
        margin-left: auto;
        text-align: justify;
        width: 70%;
    }

    button {
        background: transparent;
        border: 0;
        color: white;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;

        span {
            width: 100%;
        }

        .lightCandleButton {
            display: flex;
            font-family: $main-font;
            font-size: 4rem;
            justify-content: center;

            img {
                margin-left: 1rem;
            }
        }
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 768px) {

    .title {
        margin-bottom: 2rem;
    }

    .ourIntention {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 8% 0 8%;
    }
}
