@import '../assets/scss/variables.scss';

.caption {
  font-family: $captions-font;
  font-size: 1.25rem;
  letter-spacing: 6px;
  margin-top: 20%;
  text-align: center;
} 

.title {
  font-family: $main-font;
  font-size: 80px;
  font-weight: lighter;
  margin: 0;
  text-align: center;
}

.candles {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: auto;

  a {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    font-size: 1.25rem;
    margin: 0 6rem;

    .iconArrow {
      margin-top: 0.75rem;
      width: 16px;
    }

    .singleCandle {
      margin-top: 2rem;
      max-width: 140px;
    }

    &:nth-child(2) {

      .singleCandle {
        margin-top: 5rem;;
      }
    }

  }
}