@import '../assets/scss/variables.scss';

.caption {
  font-family: $captions-font;
  font-size: 1.25rem;
  letter-spacing: 6px;
  text-align: center;
} 

.title {
  font-family: $main-font;
  font-size: 100px;
  font-weight: lighter;
  margin-top: 0;
  text-align: center;
}

.candles {
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    color: white;
    font-family: $main-font;
    font-size: 1.25rem;
  }
}