@import '../assets/scss/variables.scss';

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 0 0 12% 0;
}

.libraryContainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;

    a {
        cursor: pointer;
        margin-bottom: 1.5rem;
        margin-top: auto;
    }
}

.caption {
    margin-top: 80%;
}

.title {
    font-size: 4rem;
    font-weight: 400;
    margin: 0 0 10rem 0;
}

.categories {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7rem;
    margin-top: 10%;
    width: 100%;

    button {
        background: transparent;
        border: 0;
        color: white;
        font-family: $main-font;
        font-weight: 400;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
}

.prayer {
    background: $main-color;
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 4rem 11rem;
    text-align: center;

    h2 {
        font-size: 2.5rem;
        font-weight: 400;
        margin: 0 0 2rem 0;
    }

    p {
        line-height: 32px;
    }

    .author {
        display: block;
        font-weight: 300;
        margin-bottom: 1.5rem;
        text-align: right;
    }

    button {
        align-items: center;
        background: transparent;
        border-radius: 50%;
        border: 1px solid white;
        display: flex;
        height: 44px;
        justify-content: center;
        margin: auto;
        width: 44px;
    }
}

.subscribeComponent {
    margin-top: 4rem;
}