@import '../assets/scss/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 20% 0 12% 0;
}

.stepOne {
    button {
        background-color: transparent;
        border: 0;
    }
}

.stepTwo {
    p {
        font-family: $text-font;
        text-align: center;
        margin: 0;
        width: 100%;

        a {
            color: white;
            cursor: pointer;
            font-weight: 600;
        }
    }

    .lit {
        font-weight: 600;
        margin-bottom: 2rem;
    }

    button {
        background: transparent;
        border: 0;
        bottom: 24px;
        color: white;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;

        p {
            font-size: 1.15rem;
            margin-bottom: .5rem;
        }
    }
}

.title {
    line-height: 5rem;
    margin: 0 auto 2rem auto;
    width: 80%;
}

.prayerContainter {
    padding: 12% 0 12%;
}

.prayerForm {
    background: rgba($color: #000000, $alpha: 0.4);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem 0;
    width: 80%;

    button {
        background: none;
        border: 0;
        margin-left: auto;
        margin-right: 1rem;
        color: white;
        font-family: $main-font;

        span {
            margin-left: .5rem;
        }
    }

    h3 {
        margin: 0 0 2rem 0;
    }

    input[type="text"], input[type="email"] {
        border: 0;
        border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.5);
        border-radius: 0;
        font-family: $text-font;
        font-style: italic;
        margin: 0 4rem 1rem 4rem;
        padding: 20px 24px 12px 24px;
    }

    input[type="email"] {
        margin-bottom: 2rem;
    }

    textarea {
        background: url(/background-textarea.png);
        background-position: 50% 68%;
        background-repeat: repeat-x;
        border: 0;
        color: white;
        font-family: $text-font;
        font-style: italic;
        height: 88px;
        line-height: 25px;
        margin: 0 4rem 2rem 4rem;
        overflow: hidden;
        padding: 0 24px;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    button[type="submit"] {
        margin-left: initial;
        margin-right: initial;
    }
}

.selectMusic {
    align-items: center;
    flex-direction: column;

    > span {
        margin-bottom: 1rem;
        width: 100%;
    }

    select {
        margin-bottom: 1.5rem;
    }
}

.candleButton {
    background: none;
    border: 0;
    bottom: 32px;
    left: 0;
    margin: 0 auto;
    max-width: 140px;
    position: absolute;
    right: 0;

    img {
        width: 100%;
    }
}

.audio {
    bottom: 24px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.hideText {
    animation: cssAnimation 0s 4s forwards;
    text-align: center;
    opacity: 1;
}

@keyframes cssAnimation {
    to   {
        opacity: 0;
    }
}

.toolBar {
    bottom: 4rem;
    display: flex;
    flex-direction: column;
    left: .5rem;
    position: absolute;
    z-index: 1;

    button {
        background: none;
        border: 0;
        cursor: pointer;
        margin-top: 1rem;
    }
}