@import '../assets/scss/variables.scss';

.container {
    align-items: center;
    animation: fadeIn ease 2s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 20% 0 12% 0;
    -webkit-animation: fadeIn ease 2s;

    > p {
        text-align: center;
        line-height: 2.5rem;
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 2rem;
        width: 70%;
    }
}

.title {
    margin: 0 0 1rem 0;
}

.subscribeForm {
    display: flex;
    flex-wrap: wrap;
    width: 70%;

    input[type="text"], input[type="email"] {
        width: 42%;
        margin: 0 1% 1rem 1%;
    }

    button {
        width: 100%;
    }
}

// .subscribeForm {
//     align-items: baseline;
//     display: flex;
//     margin-left: 4rem;
//     width: 50%;

//     input[type="email"] {
//         margin-right: 1rem;
//         min-width: 232px;
//     }

//     button {
//         transition: ease-in .4s;

//         img {
//             margin-right: 1rem;
//         }

//         &:hover {
//             padding-left: 1rem;
//             transition: ease-in .4s;
//         }
//     }
// }

// @keyframes fadeIn {
//     0% { opacity: 0; }
//     100% { opacity: 1; }
// }

// @media screen and (max-width: 768px) {

//     .paragraph, .subscribeForm {
//         width: 80%;
//     }

//     .subscribeForm {
//         margin-left: 0;
//         display: flex;
//         flex-wrap: wrap;
//         text-align: center;
//         justify-content: center;

//         input[type="email"] {
//             width: 100%;
//             margin-right: 0;
//         }
//     }
// }

// @media screen and (max-width: 768px) {

//     .container {
//         padding-top: 25%;
//     }

//     .paragraph, .subscribeForm {
//         width: 100%;
//     }
// }