@import '../../assets/scss/variables.scss';

.container {
    animation: fadeIn ease 2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 12% 0 12%;
    padding: 20% 0 12% 0;
    -webkit-animation: fadeIn ease 2s;
}

.caption {
    text-align: center;
    width: 100%;
}

.title {
    margin: 0 0 10rem 0;
    display: inline-block;
}

.whoWeAreText {
    margin-bottom: 4rem;
    width: 45%;
    display: inline-block;
}


// @keyframes fadeIn {
//     0% { opacity: 0; }
//     100% { opacity: 1; }
// }

// @media screen and (max-width: 768px) {

//     .title {
//         margin-bottom: 2rem;
//     }

//     .aboutUsText {
//         width: 100%;
//     }
// }

// @media screen and (max-width: 480px) {
//     .container {
//         margin: 0 8% 0 8%;
//     }
// }
