@import '../../assets/scss/variables.scss';

.container {
    animation: fadeIn ease 2s;
    display: flex;
    flex-wrap: wrap;
    margin: 0 12% 0 12%;
    padding: 15% 0 12% 0;
    -webkit-animation: fadeIn ease 2s;
}

.caption {
    text-align: center;
    width: 100%;
}

.title {
    margin: 0 0 6rem 0;
    display: inline-block;
}

.whoWeAreText {
    margin-bottom: 2.5rem;
    width: 42%;
    display: inline-block;
    padding: 0 1.5%;
    text-align: center;

    p {
        text-align: left;
    }
}

.director {
    margin-top: 6.5rem;
}

.effects {
    margin-bottom: 0;
    margin-top: 6.5rem;
}

.ligthCandleButton {
    width: 100%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media screen and (max-width: 768px) {
    .whoWeAreText {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 9% 0 9%;
        padding-top: 28%;
    }
    .director {
        margin-top: 0;
    }
    
    .effects {
        margin-top: 0;
        margin-bottom: 2.5rem;
    }

    .whoWeAreText {

        span {
            display: inline-block;
            line-height: 1.2rem;
            width: 100%;
        }
    }

    .title {
        margin: 0 0 1.5rem 0;
    }

}