.content *,
.content *::before,
.content *::after {
  margin: 0;
}

.content {
  text-align: center;
  background: url("/backgrounds/under-construction.jpeg") no-repeat center
    center/cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: fit-content;
  transform: translateX(55%);
}

.content h1 {
  font-family: "berling-italic";
  font-size: 5.9rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 3rem;
}

.content p {
  font-family: "Founders Grotesk Text";
  font-size: 2.3rem;
  letter-spacing: 2.2px;
}

.author-name {
  margin-top: -0.5rem;
}

.content .launch-info {
  font-family: "Founders Grotesk Text";
  font-size: 2.5rem;
  margin-top: 12rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 1150px) {
  .content-wrapper {
    transform: translateX(35%);
  }
}

@media (max-width: 950px) {
  .content-wrapper {
    transform: translateX(0);
  }

  .content {
    background-position: right;
  }
}

@media (max-width: 487px) {
  .author-name {
    margin-top: 0;
  }
}
